/* if i use (#done)  it will show with color*/

a.tag[href="#in-progress"], 
a.tag[href="#done"],
a.tag[href="#not-srtarted"],
a
{
    padding-inline: 5px !important;
    padding-block: 2px !important;
}
a.tag[href="#in-progress"] {
    background-color: #f1c40f !important;
    color: white !important;
}

a.tag[href="#done"] {
    background-color: #2ecc71 !important;
    color: white !important;
}
a.tag[href="#not-srtarted"] {
    background-color: #643187 !important;
    color: white !important;
}
